body{
    margin: 0px;
    padding: 0px;
    font-family: 'Freckle Face', cursive;
}
.section-header {
    display: flex;
    justify-content: space-between;
    background-color: blueviolet;
    color: aliceblue;
    margin-bottom: 0px;
    

}
.div-left {
    margin-left: 10%;
    padding-top: 15px;
}

.div-right {
    margin-right: 10%;
}

ul{
list-style: none;
display: flex;

}
li {
    margin-left: 5%;
   
}


.section-middle {
    background-image: linear-gradient(to right,rgb(229, 0, 73), rgb(249, 5, 5));
    height: 704px;
    margin-top: 0px;

}
.text-middle {
    padding-top: 100px;
    margin-left: 10%;
    color: white;
}
h1 {
    font-size: 96px;
}
h5 {
    font-size: 48px;
}

.img-baymax-hi {
    
}